<!--<section class="background-image">
    <div class="container form-down">
        <div class="card">
            <div class="card-body ">
                <h5 class="card-title">{{titulo}}</h5>
                <form>
                    <div class="form-group row">
                        <label for="primerNombre" class="col-sm-6 col-form-label">Primer Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="primerNombre" [(ngModel)]="cita.NombreCompletoProfesional.primerNombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="segundoNombre" class="col-sm-6 col-form-label">Segundo Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="segundoNombre" [(ngModel)]="cita.NombreCompletoProfesional.segundoNombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="primerApellido" class="col-sm-6 col-form-label">Primer Apellido</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="primerApellido" [(ngModel)]="cita.NombreCompletoProfesional.primerApellido">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="segundoApellido"  class="col-sm-6 col-form-label">Segundo Apellido</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="segundoApellido" [(ngModel)]="cita.NombreCompletoProfesional.segundoApellido">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="numeroIdentificacion" class="col-sm-6 col-form-label">Número de Identificación</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="fechaInicio" [(ngModel)]="cita.fechaCita.fechaInicio">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tipoIdentificacion" class="col-sm-6 col-form-label">Tipo Identificación</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="fechaFin" [(ngModel)]="cita.fechaCita.fechaFin">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="correoElectronico" class="col-sm-6 col-form-label">Correo Electrónico</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nombreServicio" [(ngModel)]="cita.datosServicioCita.nombreServicio">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="correoElectronico" class="col-sm-6 col-form-label">contraseña</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="consultorio" [(ngModel)]="cita.datosServicioCita.consultorio">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-success" role="button" (click)="create()">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    </section> -->